/* 
#333333: Gris oscuro
#FFFFFF: Blanco
#E1F4F3: Celeste
#706C61: Gris claro
*/

/* ------------------------------------------------------------------HEADER--------------------------------------------------------------------- */

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62,5%;
}

body {
    font-family:'Noto Serif', serif; 
    background-color: #000000;
}

header {
    background-color: #333333;
    position: sticky;
    top: 0px;
    z-index: 10;
}

header img {
    width: 10%;
    height: 10%;        
}

h1 { 
    color: #000000;
    font-size: 3rem;
    text-align: center;
    font-family: "M PLUS Rounded 1c";
}
h2 {
    font-size: 2rem;
    color: #E1F4F3;
    text-align: center;
    padding: 2rem;
}
h3{
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
}

.btn p{
    color: #E1F4F3;
}

a{
    text-decoration: none;
}
/* -----------------------------------------------navbar----------------------------------------------------------------------------- */

main{ 
    background-color:#000000;
}
/* hacer todo denuevo */

/* ------------HEADER------- */


.navbar{
    background-color: #FFFFFF;
}

.navbar a{
    color: #000000;
}

.navbar-brand{
    color: #E1F4F3;
    padding: 1rem;
}


/*---------------------------Main index ------------------------------- */

.title-description p{
    color: #FFFFFF;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: "M PLUS Rounded 1c";
    text-align: center;
    padding-top: 3%;
}

.tienda-btn{
    padding: 1rem;
}

.tienda-btn a{
    font-size: 1.5rem;
    font-family: "M PLUS Rounded 1c";
} 

.tienda-btn button{ 
    color: #000000;
    background-color: #FFFFFF;
    opacity: calc(0.7);
    letter-spacing: 5px;
}
.tienda-btn button:hover{
    opacity: calc(1);
}  

/* ---------NOTA: Arreglar tamaño de carousel en celular----------- */
.carousel{
    width: 40%;
    padding-top: 50px;
    position: relative;
}
.carousel-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pages-link img:hover{
    filter: blur(3px);
}
.pages-link img{
    width: 70%;
    object-fit: cover;
}
.column-container1{
    position: relative;
}
.column-container1 img{
    width: 70%;
}
.column-container1:hover img{
    filter: blur(3px);
}z
.pages-link{
    position: absolute;
    text-align: start;
    padding-left: 9%;
    opacity: 0;
}

.pages-linkz:hover{ 
    opacity: 1;
}




.map-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}
.map{
    color: #FFFFFF;
}
/*---------------------------pulseras ------------------------------- */
.container-pulseras img{
    width: 50%;
    height: 80%;
    object-fit: cover;
}

.container-pulseras p{
    color: #FFFFFF;
    font-size: 1rem;
}
/*---------------------------collares-------------------------------*/
.container-collares img{
    width: 50%;
    height: 80%;
    object-fit: cover;
}

.container-collares p{
    font-size: 1rem;
    color: #E1F4F3;
}

/*----------------------------anillos--------------------------------------------- */
.anillos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.anillos-container img{
    padding: 0,5rem;
    width: 30%;
}
.anillos-container p{
    color: #E1F4F3;
    font-size: 1rem;
}
/* ---------------PENDIENTES--------------------- */
.container-pendientes img{
    width: 50%;
    height: 80%;
    object-fit: cover;
}
.container-pendientes p{
    font-size: 1rem;
    color: #E1F4F3;
}
/* ----Pre footer------ */

.despedida-container{
    background-color: #0C0C0C;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.despedida-container p{
    color: #FFFFFF;
    font-size: 2rem;
    letter-spacing: 10px;
    text-align: center;
    font-family: "M PLUS Rounded 1c";
}
/* -----------------FOOTER---------------- */
footer{
    background-color: #0C0C0C;
    width: 100%;
}
footer p{
    color: #E1F4F3;
}
footer li{
    list-style: none;
}

.footer-iconos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* .atencion-al-cliente{
    width: 50%;
}  */
.contacto-icono{
    width: 40%;
}
.atencion-al-cliente{
    width: 20%;
    padding-bottom: 1.5rem;
}

.atencion-al-cliente a{
    opacity: calc(0.3);
    color: #E1F4F3;
}

.atencion-al-cliente li{
    margin-top: 7px;
    margin-bottom: 7px;
}
.atencion-al-cliente a:hover{
    opacity: calc(1);
    padding-left: 10px;
    transition: 500ms;
}

.atencion-al-cliente p{
    font-size: 1.5rem;
    padding-left: 2rem;
    padding-top: 2rem;
}
.vanta-marca{
    width: 9%;
}
/* .contacto-icono{
    width: 50%;
} */
.contacto-icono img{
    width: 10%;
    padding: 0.5rem;
}
/*-------------------- Media para footer ---------------- */