footer{
    background-color: $gris;
    width: 100%;
        p{
            color: $claro;
        }
        li{
            list-style: none;
        }
    z-index: 10;
}
.footer-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contacto-icono{
    width: 40%;
}
.atencion-al-cliente{
    width: 40%;
    padding-bottom: 1.5rem;
        a{
            opacity: .3;
            color: $claro;
            transition: 500ms;
                &:hover{
                    opacity: 1;
                }
        }
        li{
            margin-top: 7px;
            margin-bottom: 7px;
        }
        p{
            font-size: 1.5rem;
            padding-left: 2rem;
            padding-top: 2rem;
        }
}
.contacto-icono{
        img{
            width: 50px;
            padding: 0.5rem;
        }
}
.copyright{
    p{
        text-align: center;
        font-size: 12px;
        padding-bottom: 5px;
    }
}