.title-description{
    color: $blanco;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-family: $fontespecial;
    text-align: center;
    padding: 2% 5% 0 5%;
}
.tienda-btn{
    padding: 1rem;
        a{
            font-size: 1.5rem;
            font-family: $fontespecial;
        }
        button{
            color: $negro;
            background-color: $blanco;
            opacity:.7;
            letter-spacing: 5px;
            border-radius: 10px 10px 10px 10px;
                &:hover{
                    opacity: .8;
                }
        }
}
.destacados-description{
    font-size: 2rem;
    font-family: $fontespecial;
    color: $blanco;
    text-align: center;
    margin: 50px;
}
.destacados-container{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    align-items: center;
}
.destacados-item{
    width: 100%;
    padding: 40px;
        a{ 
            width: 100%;
            object-fit: cover;
        }
        img{
            width: 100%;
            aspect-ratio: 4/5;
            object-fit: cover;
                &:hover{
                    opacity: .5;
                    transform: rotate(5deg);
                    transition: 600;    
                }
        }
}
.carousel{
    width: 40%;
    padding-top: 50px;
    position: relative;
}
.carousel-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pages-link{
    img{
        width: 70%;
        object-fit: cover;
        transition: 300ms;
            &:hover{
                filter: blur(3px);
            }
    }
}
.map-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
}
.map{
    color: $blanco;
    font-family: $fontespecial;
    text-align: center;
}
.despedida-container{
    background-color: $gris;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
        p{
            color: $blanco;
            font-size: 2rem;
            letter-spacing: 10px;
            text-align: center;
            font-family: $fontespecial;
        }
}